@import './utils.sass'
@import './variables.sass'

*,
*::before,
*::after
    box-sizing: border-box
    margin: 0
    position: relative
    font-weight: normal

body
    min-height: 100vh
    color: var(--color-text-soft)
    background: var(--color-background)
    line-height: 1.6
    font-family: Inter, Roboto, sans-serif
    overflow-y: scroll
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

h1, h2, h3, h4, h5, h6
    font-family: var(--font-heading)
    font-weight: 600
    color: var(--color-text)
    margin: 0

hr
    margin: 1rem 0
    border: 0
    border-top: 2px solid var(--color-border)

::-webkit-scrollbar
    width: 10px
    height: 10px


::-webkit-scrollbar-track
    background: var(--color-background)

::-webkit-scrollbar-thumb
    background: var(--color-background-soft)
    border-radius: 4px
    background-clip: content-box
    border: 3px solid transparent

::-webkit-scrollbar-thumb:hover
    background: var(--color-primary)
    border: 0px solid transparent
    border-radius: 1px


.limiter
    width: 100%
    max-width: 1300px
    display: block
    margin: 0 auto
    padding: 0 1.5rem

.text-limiter
    max-width: 700px

section.space
    padding-block: 7rem

h2
    padding-block: 1rem .5rem
    margin-bottom: 1rem
    border-bottom: 2px solid var(--color-border)
